{% extends 'base.html' %}
{% load static %}

{% block title %}Admin Panel: Dashboard{% endblock title %}

{% block adress_path %}
<div class="navbar-breadcrumb">
    <h5 class="mb-0">Dashboard</h5>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ul>
    </nav>
</div>
{% endblock adress_path %}

   {% block content %}
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6 col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-user-line"></i></div>
                              <div class="text-left ml-3">                                 
                                 <h2 class="mb-0"><span class="counter">{{user_total}}</span> ta</h2>
                                 <h5 class="">Foydalanuvchilar</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-book-line"></i></div>
                              <div class="text-left ml-3">                                 
                                 <h2 class="mb-0"><span class="counter">{{book_total}}</span> ta</h2>
                                 <h5 class="">Kitoblar</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Tavsiya qilinayotgan kitoblar</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="data-tables table table-striped table-bordered" style="width:100%">
                                 <thead>
                                    <tr>
                                       <th style="width: 3%;">No</th>
                                        <th style="width: 12%;">Surati</th>
                                        <th style="width: 15%;">Nomi</th>
                                        <th style="width: 15%;">Kategoriyasi</th>
                                        <th style="width: 15%;">Muallifi</th>
                                        <th style="width: 25%;">Haqida</th>
                                        <th style="width: 7%;">PDF</th>
                                        <th style="width: 15%;">Amallar</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for book in books %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><img class="img-fluid rounded" src="{{book.image.url}}" alt=""></td>
                                        <td>{{book.name}}</td>
                                        <td>{{book.category.name}}</td>
                                        <td>{{book.author.name}}</td>
                                        <td>
                                          <p class="mb-0">{{book.description}}</p>
                                        </td>
                                        <td><a href="{{ book.document.url }}" target="_blank"><i class="ri-file-fill text-secondary font-size-18"></i></a></td>                                        
                                        <td>
                                           <div class="flex align-items-center list-user-action">
                                             <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{% url 'editBook' %}{{ book.pk }}"><i class="ri-pencil-line"></i></a>
                                             <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="{% url 'delBook' %}{{ book.pk }}"><i class="ri-delete-bin-line"></i></a>
                                          </div>
                                        </td>
                                    </tr>
                                 {% empty %}
                                 <tr>
                                    <td colspan="9" class="text-center">Hozircha tavsiya berilayotgan kitoblar mavjud emas</td>
                                 </tr>
                                 {% endfor %}
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      {% endblock %}