{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh Sahifa{% endblock title %}

{% block adress_path %}
<div class="navbar-breadcrumb">
    <h5 class="mb-0">Bosh Sahifa</h5>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Kitoblar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bosh Sahifa</li>
        </ul>
    </nav>
</div>
{% endblock adress_path %}


       {% block content %}
         <div id="content-page" class="content-page">
            <div class="container-fluid"> 
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height rounded">
                        <div class="newrealease-contens">
                           <ul id="newrealease-slider" class="list-inline p-0 m-0 d-flex align-items-center">
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/01.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/02.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/03.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/04.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/05.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/06.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/07.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/08.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>
                              </li>
                              <li class="item">
                                 <a href="javascript:comingsoon(0);">
                                    <img src="{% static '' %}images/new_realeases/09.jpg" class="img-fluid w-100 rounded" alt="">
                                 </a>                              
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                           <div class="iq-header-title">
                              <h4 class="card-title mb-0">Eng so'ngi kitoblar</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">                              
                              <a href="{% url 'search' %}" class="btn btn-sm btn-primary view-more">Barchasini ko'rish</a>
                           </div>
                        </div> 
                        <div class="iq-card-body">  
                           <div class="row">
                              {% for book in books %}
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                 <div class="iq-card iq-card-block iq-card-stretch iq-card-height browse-bookcontent">
                                    <div class="iq-card-body p-0">
                                       <div class="d-flex align-items-center">
                                          <div class="col-6 p-0 position-relative image-overlap-shadow">
                                             <a href="javascript:comingsoon();"><img class="img-fluid rounded w-100" src="{% if book.image %}{{book.image.url}}{% else %}./media/template.jpg{% endif %}" alt=""></a>
                                             <div class="view-book">
                                                <a href="{% url 'bookInfo' %}{{book.pk}}" class="btn btn-sm btn-white">Ko'rish</a>
                                             </div>
                                          </div>
                                          <div class="col-6">
                                             <div class="mb-2">
                                                <h6 class="mb-1">{{book.name}}</h6>
                                                <div class="d-block line-height">
                                                   {% if book.category %}
                                                   <p class="font-size-13 line-height mb-1">Janr: {{book.category.name}}</p>
                                                   {% endif %}
                                                </div>
                                                <p class="text-body">{{book.author.name}}</p>
                                             </div>
                                             <div class="iq-product-action">
                                                <a href="{% url 'bookInfo' %}{{book.pk}}"><i class="ri-eye-line text-dark" title="Kitobni O'qish" ></i></a>
                                                <a href="javascript:WishList({{book.pk}});" class="ml-2"  id="heartIcon{{book.pk}}"><i class="{% if book.id in wishlist %}ri-heart-fill{% else %}ri-heart-line{% endif %} text-danger"></i></a>
                                             </div>                                      
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {% endfor %}
                              
                           </div>
                        </div>
                     </div>
                  </div>

                  {% for rb in rbooks %}
   
                  <div class="col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between mb-0">
                           <div class="iq-header-title">
                              <h4 class="card-title">Tavfsiya berilayotgan kitoblar</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="row align-items-center">
                              <div class="col-sm-5 pr-0">
                                 <a href="javascript:comingsoon();"><img class="img-fluid rounded w-100" src="{{rb.image.url}}"  alt=""></a>
                              </div>
                              <div class="col-sm-7 mt-3 mt-sm-0">
                                 <h4 class="mb-2">{{rb.name}}</h4>
                                 <p class="mb-2">Muallif: {{rb.author.name}}</p>
                                 <div class="mb-2 d-block">
                                    <span class="font-size-12 text-warning">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                    </span>
                                 </div>
                                 <span class="text-dark mb-3 d-block">{{rb.description|truncatechars:255}}</span>
                                 <a href="{% url 'bookInfo' %}{{rb.pk}}"><button type="submit" class="btn btn-primary learn-more">Kitobni Ko'rish</button></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  
                  
               </div>
            </div>
         </div>

      
      {% endblock %}
      
